 h1{
font-family:halvetica;
font-size:50px;
color-blue;
text-align:center;
font-style:italic;
font-weight:700;
color:green
}/*this is adding background color to my web
background-image: url("dinah.jpg");
}
ul{
  list-style: square;
}
ol{list-style: upper-roman;
}
div{
  background-color: pink;
}



.
